.SplashScreen {
  background-image: url(/static/svg/Splashscreen.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: initial;
  aspect-ratio: 4/1;

  padding: 15px;
  padding-top: 200px;
  padding-bottom: 100px;

  width: 100%;
  transform-origin: center;
  transform-box: fill-box;

}

.SplashScreen h1 {
  color: white;
}

.SplashScreen p {
  color: white;
}

@media screen and (max-width: 996px) {
  .SplashScreen {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons a {

  color: var(--ifm-color-primary);
  background-color: aliceblue;
  padding: 16px 20px 15px 20px;
  border-radius: 15px;
  font-weight: bold;

}

.FeaturesDiv {

  display: flex;
  flex-flow: row wrap;

  align-items: center;
  justify-content: center;

}

.FeaturesDiv article {

  background-color: var(--ifm-color-background);

  display: flex;
  flex-flow: row nowrap;

  width: 100%;
  max-height: 100%;

  transition: .1s ease-in;

  padding: 20px;

}

.FeaturesDiv article div {
  width: 50%;
}

.imgcontainer {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.Promo2 {
  background-image: url(/static/svg/Promo2.svg);
  background-repeat: no-repeat;
}

.FeaturesDiv article a:hover {
  color: var(--ifm-color-primary);
}

.FeaturesDiv article .Header {
  font-weight: bold;
}

.FeaturesDiv article:nth-child(even) {

  background-color: var(--ifm-color-background-secondary);
  flex-direction: row-reverse;
  text-align: right;

}